/* ===== BODY ===== */
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: #141214;
    color: #f1f1f1;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* ===== HEADINGS ===== */
h1 {
    color: #c16c8a;
    text-shadow: 0 0 10px rgba(244, 184, 202, 0.35);
}

h2 {
    color: #c16c8a;
    border-left: 3px solid #c16c8a;
    padding-left: 12px;
    border-bottom: 3px solid #c16c8a;
    padding-bottom: 12px;
    margin-top: 0;
}

h3 {
    color: #f4b8ca;
    margin-bottom: 10px;
}

/* ===== NAV BAR ===== */
nav {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 15px;

    position: sticky;
    top: 0;
    z-index: 10;

    background: rgba(18,18,18,0.7);
    backdrop-filter: blur(15px);
    border-bottom: 3px solid #c16c8a;
    
}

nav a:first-child {
    margin-right: auto; 
    margin-left: 30px;
}

nav a {
    color: #f4b8ca;
    text-decoration: none;
    transition: 0.3s ease;
}

nav a:last-child{
    margin-right: 30px;
}

nav a:hover {
    color: #c16c8a;
    transform: scale(1.1);
}

/* ===== HOMEPAGE ===== */
.hero {
    width: 100%;
    min-height: 84vh;

    background-image: url("mainjpg/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.hero-content {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    gap: 100px;

    animation: fadeIn 1.2s ease-in-out;
}

.hero-text h1{
    color: #f4b8ca;
    font-size: 60px;
    margin-bottom: 0;
    animation: slideUp 1s ease-in-out;
}

.hero-text h2, .hero-text p {
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    animation: slideUp 1s ease-in-out;
}

.profile-pic { 
    width: 360px; 
    height: 360px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 3px solid #f4b8ca; 
    transition: 0.3s ease; 
} 

.profile-pic:hover { 
    transform: scale(1.05); 
    border-color: #c16c8a;
}

/* ===== SECTIONS ===== */
section {
    padding: 60px 40px;
}

/* ===== ABOUT ME ===== */
.about-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about-card {
    flex: 1;
    min-width: 250px;

    background: #211f21;
    padding: 20px;
    border-radius: 10px;
    
    border: 2px solid #211f21;
    transition: 0.2s;
}

.about-card:hover {
    border-color: #c16c8a;
}
.about-card h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.about-card p {
    margin: 20px 0;
    text-indent: 30px ;
    text-align: justify;
    line-height: 1.3;
}

.about-img {
    position: relative;
    max-width: 420px;
    max-height: 260px;
    border-radius: 10px;
    overflow: hidden;
}

.about-img img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.about-img::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
    to top,
    rgba(193,108,138,0.35),
    rgba(244,184,202,0.1)
);
    border-radius: 10px;
    opacity: 60%;
    pointer-events: none;
}

/* ===== PROJECTS ===== */
.projects-card {
    display: inline-block;
    vertical-align: top;
    width: 650px;
    height: 500px;
    margin: 10px;
    background-color: #211f21;
    padding: 20px;

    border-radius: 10px;
    border: 3px solid #211f21;
    transition: 0.2s;
}

.work img {
    height: 420px;
    width: auto;
    display: block;
    border-radius: 10px;

    transition: 0.3s ease;
}

.work:hover img {
    transform: scale(1.02);
}

.work {
    position: relative;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: visible;
}

.work::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to top,
        rgba(193, 108, 138, 0.25),
        rgba(244, 184, 202, 0.10)
    );
}

.work::after:hover {
    transform: scale(1.02);
}

.projects-card:hover {
    border: 3px solid #c16c8a;
}

.projects-card h3 {
    margin-top: 5px;
    margin-bottom: 15px;
}

/* ===== SKILLS ===== */
.skill-card {
    display: inline-block;
    vertical-align: top;
    width: 410px;
    margin: 10px;
    background-color: #211f21;
    padding: 20px;
    flex-wrap: wrap;

    border-radius: 10px;
    border: 3px solid #211f21;
    transition: 0.2s;
}

.skill-card:hover {
    border: 3px solid #c16c8a;
}

.skill-card h3 {
    margin: 0px;
    padding-bottom: 10px;
}

.skill-card h3 i {
    background: linear-gradient(
        to top,
        #c15d80,
        #f4b8ca
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 30px;
    padding-right: 15px;
}

.bar-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar {
    width: 100%;
    height: 10px;
    background: #141214;
    border-radius: 5px;
    overflow: hidden;
}

.fill {
    height: 100%;
    background: #c16c8a;
    border-radius: 5px;
}

.percent {
    color: #f4b8ca;
    font-size: 0.9rem;
    min-width: 40px;
    text-align: right;
}

#skills p {
    margin-top: 0px;
 }

/* ===== INTERESTS ===== */
.interest-card {
    display: inline-block;
    vertical-align: top;
    width: 290px;
    margin: 10px;
    background-color: #211f21;
    padding: 20px;

    border-radius: 10px;
    border: 3px solid #211f21;
    transition: 0.3s;
}

.interest-card:hover {
    border: 3px solid #c16c8a;
}

.interest-card h3 {
    margin: 0px;
    padding-left: 4px;
}

.interest-card p {
    margin: 5px;
}

.scroll-gallery {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item img {
    height: 200px;
    width: auto;
    display: block;
    border-radius: 10px;

    transition: 0.3s ease;
}

.item:hover img {
    transform: scale(1.05);
}

.item {
    position: relative;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: visible;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to top,
        rgba(193, 108, 138, 0.25),
        rgba(244, 184, 202, 0.10)
    );
}

.item::after:hover {
    transform: scale(1.05);
}

/* ===== CONTACT ===== */
#contact {
    margin-bottom: 50px;
}
#contact a {
    color: #f4b8ca; 
    text-decoration: none;
    transition: 0.3s;
}

#contact a:hover {
    color: #c16c8a; 
    text-decoration: underline;
}

.contact-card {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    background-color: #211f21;
    padding: 10px 20px;
    margin: 10px;

    border-radius: 10px;
    border: 3px solid #211f21;
    transition: 0.2s;
}

.contact-card:hover {
    border: 3px solid #c16c8a;
}

.contact-pic { 
    width: 350px; 
    height: 350px; 
    object-fit: cover; 
    border-radius: 10%; 
    border: 3px solid #211f21; 
    transition: 0.3s ease; 
    margin-top: 20px;
}

.accounts {
    display: flex;
    flex-direction: column;
}

.main-contact {
    display: flex;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

form {
    width: 100%;
}

.contact-form p {
    margin: 10px 0px;
}

.contact-form input,
.contact-form textarea {
    background: #141214;
    border: 2px solid #211f21;
    border-radius: 8px;
    padding: 10px;
    color: #f1f1f1;
    font-family: 'Quicksand', sans-serif;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #c16c8a;
    outline: none;
}

textarea {
    resize: none;
}

.contact-form button {
    background: #c16c8a;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    color: #141214;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #f4b8ca;
}

.form-card {
    display: flex;
    min-width: 67%;
    gap: 25px;
}

/* ===== FOOTER ===== */
.footer {
    background: #c16c8a;
    color: #141214;
    text-align: center;
    margin: 0px;
}

/* ===== SCROLL ===== */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #c16c8a;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* ===== ANIMATIONS ===== */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}